.mobile-home-container{
    position: relative;
    height: calc(100dvh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.mobile-home-container::before{
    content: "";
    position: absolute;
    inset: -10px;
    background-image: url("/Photos/Kira/front.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    filter: blur(4px) contrast(1.02);
    opacity: 99%;
}
.roseMobile{
    position: absolute;
    width: 400px;

}
.roseLeft{
    width: 200px;
    bottom: 0;
    left: 0;
}
.roseRight{
    width: 200px;
    top: 0;
    right: 0;
}
.mid-mobile-home-section-container{
    /* border: 1px solid white; */
    width: 90%;
    max-width: 400px;
    height: auto;
    margin-bottom: 110px;
    position: relative;
    z-index: 10;
    display: flex;
    
    align-items: center;
    flex-direction: column;
}
.nekotattoo-mobile-home{
    width: 100%;
    max-width: 400px;
    
}
.home-quote{
    color: white;
    font-family: "Courier New";
    text-align: center;
    font-style: italic;
}
.mobile-home-button-container{
    display: flex;
    margin-top: 30px;
    width: 100%;
    min-width: 360px;
    align-items: center;
    justify-content: space-evenly;
}

 .myWorkButton-mobile{
    border: 1px solid white;
    background: transparent;
    color: white;
    width: 45%;
    height: 60px;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    font-family: 'Old Standard TT';
    font-style: italic;
    transition: all 200ms ease;
}
.createConsultationButton-mobile{
    border: 1px solid white;
    background: #000;
    color: white;
    width: 45%;
    height: 60px;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    font-family: 'Old Standard TT';
    font-style: italic;
    transition: all 200ms ease;
}
#pawHome-mobile{
    filter: invert(1);
    width: 25px;
}